@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  display: block;
}

body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Open Sans";
  letter-spacing: 3px;
  filter: grayscale(100%);
}

.layouts {
  display: flex;
  flex-direction: column;
}

.one, #general {
  display: flex;
  background-color: black;
  padding: 30px;
  align-items: center;
  opacity: 0.9;
}

.logo {
  margin-right: auto;
}

.logopic {
  height: 50px;
  width: auto;
  padding: 20px;
}

.navigation {
  margin-left: auto;
  opacity: 0.9;
}

.toplinks {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#general {
  display: flex;
  background-color: black;
  align-items: center;
  padding: 150px;
  opacity: 0.9;
}

.generality, .desc {
  color: white;
  display: flex;
  justify-content: center;
}

.generalone {
  margin-left: auto;
  margin-right: auto;
}

.cute {
  border: 2px solid white;
  background: black;
  font-family: "Open Sans";
  opacity: 0.8;
  color: white;
  border-radius: 10%;
}

.generaltwo {
  margin-left: auto;
  margin-right: auto;
}

.kittypic {
  width: 400px;
  height: auto;
  opacity: 0.9;
}

#about {
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  padding: 150px;
  opacity: 0.9;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.picteam {
  width: 100px;
  opacity: 0.9;
  height: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.smalldesc {
  padding: 30px;
}

#contact {
  display: flex;
  background-color: #F6F6F6;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  opacity: 0.9;
}

q {
  font-style: italic;
}

.contacttwo {
  padding: 10px;
}

.odin {
  background-color: black;
  padding: 150px;
  opacity: 0.9;
}

.odinproject {
  color: white;
  opacity: 0.9;
}

.kittypic {
  border-radius: 10%;
}

.signup {
  background-color: black;
  padding: 150px;
  opacity: 0.9;
}

.sign {
  border: 1px solid grey;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.texts {
  color: #FFFFFF;
}

.signbutton {
  border: 2px solid white;
  background: black;
  font-family: "Open Sans";
  font-size: large;
  opacity: 0.8;
  color: white;
  border-radius: 10%;
  padding:10px;
}